.catalog-tile-pf {

  &:active,
  &:hover,
  &:focus,
  &:visited {
    color: inherit;
    text-decoration: none;
  }

  .pf-v6-c-card__header-main {
    display: flex;
  }
  
  .pf-v6-c-card__actions {
    padding-left: 5px;
  }
}

.catalog-tile-pf-header {

  .catalog-tile-pf-subtitle {
    color: var(--pf-t--global--text--color--subtle);
    font-size: 13px;
    font-weight: initial;
    padding-block-start: var(--pf-t--global--spacer--sm);

    a,
    a:hover {
      text-decoration: none;
    }
  }
}

.catalog-tile-pf-icon {
  font-size: 40px;
  height: 40px;
  max-width: 60px;
  min-width: 40px;
}

.catalog-tile-pf-badge-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .catalog-tile-pf-badge {
    font-size: 16px;
    margin-left: 5px;
  }
}

.catalog-tile-pf-description {
  margin-top: 0;

  span {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .has-footer {
    -webkit-line-clamp: 1;
  }
}
