.filter-panel-pf {
  margin: 0 0 var(--pf-t--global--spacer--lg);
  padding: 0 var(--pf-t--global--spacer--md);
}

.filter-panel-pf-category {
  margin-block-start: var(--pf-t--global--spacer--md);

  &:first-of-type {
    margin-block-start: 0;
  }
}

.filter-panel-pf-category-title {
  border: 0;
  font-size: inherit;
  margin: 0 0 var(--pf-t--global--spacer--sm) 0;
  font-weight: 700;
}

.filter-panel-pf-category-items {
  margin-block-start: 0;
  margin-block-end: 0;
}

.filter-panel-pf-category-item {
  margin-block-start: var(--pf-t--global--spacer--sm);
  border-radius: var(--pf-t--global--BorderRadius--sm);

  &:first-of-type {
    margin-block-start: 0;
  }

  &:hover {
    background-color: var(--pf-t--global--background--color--action--plain--hover);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-width: var(--pf-t--global--border--width--high-contrast--regular);
      border-style: solid;
      border-color: transparent;
      border-radius: inherit;
      pointer-events: none;
    }

    &::after {
      border-color: var(--pf-t--global--border--color--high-contrast);
    }
}

  .pf-v6-c-check__label {
    min-height: var(--pf-t--global--spacer--md);
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--xs);
    margin: calc(var(--pf-t--global--spacer--sm) * -1) calc(var(--pf-t--global--spacer--xs) * -1);
    border-radius: var(--pf-t--global--border--radius--small);
  }

  .item-icon {
    padding-inline-end: var(--pf-t--global--spacer--xs);
  }

  .item-count {
    padding-inline-start: var(--pf-t--global--spacer--xs);
  }
}
