.properties-side-panel-pf {
  width: 165px;
}

.properties-side-panel-pf-property {
  margin-block-start: var(--pf-t--global--spacer--lg);

  &:first-of-type {
    margin-block-start: 0;
  }
}

.properties-side-panel-pf-property-label {
  font-weight: 700 !important;
  margin: 0 !important;
}

.properties-side-panel-pf-property-value {
  margin-block-start: var(--pf-t--global--spacer--sm);
  word-break: break-word;
}
