.vertical-tabs-pf {
  list-style: none;
  margin: 0 0 var(--pf-t--global--spacer--lg);
  padding: 0;

  .vertical-tabs-pf {
    margin-block-end: 0;
  }
}

.vertical-tabs-pf-tab {
  margin-block-start: var(--pf-t--global--spacer--sm);
  position: relative;

  > a {
    color: var( --pf-t--global--text--color--regular);
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
    vertical-align: top;
    width: 100%;
    word-break: break-word;
    border-radius: var(--pf-t--global--border--radius--small);

    &:hover,
    &:focus {
      background-color: var(--pf-t--global--background--color--action--plain--hover);
      text-decoration: none;
    }

    &.no-wrap {
      overflow-x: hidden;
      white-space: nowrap;
    }

    &.truncate {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.active {
    > a {

      &::before {
        background: var( --pf-t--global--border--color--brand--clicked);
        content: "\00a0"; // &nbsp;
        left: 0;
        position: absolute;
        width: var(--pf-t--global--border--width--extra-strong);
      }
    }
  }

  &:first-of-type {
    margin-block-start: 0;
  }

  > .vertical-tabs-pf {
    > .vertical-tabs-pf-tab {
      position: initial;
      padding-inline-start: var(--pf-t--global--spacer--md);
    }
  }
}

.vertical-tabs-pf.restrict-tabs {
  .vertical-tabs-pf-tab {
    display: none;

    /* Show any active tab, tab that has an active descendant, or is force shown */
    &.active,
    &.active-descendant,
    &.shown {
      display: block;
    }
  }

  /* Show siblings of the active tab */
  &.active-tab {
    > .vertical-tabs-pf-tab {
      display: block;
    }
  }

  /* Show the direct children of an active tab */
  .vertical-tabs-pf-tab.active {
    > .vertical-tabs-pf {
      > .vertical-tabs-pf-tab {
        display: block;
      }
    }
  }
}
