.ws-react-e-catalog-item-header .text-overflow-pf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.ws-react-e-catalog-item-header .catalog-item-header-pf {
  display: flex;
  align-items: center;
}
.ws-react-e-catalog-item-header .catalog-item-header-pf-icon {
  font-size: var(--pf-t--global--icon--size--2xl);
  max-height: var(--pf-t--global--icon--size--2xl);
  width: var(--pf-t--global--icon--size--2xl);
}
.ws-react-e-catalog-item-header .catalog-item-header-pf-text {
  margin-inline-start: var(--pf-t--global--spacer--md);
}
.ws-react-e-catalog-item-header .catalog-item-header-pf-title {
  margin-block-end: 0;
  margin-block-start: 0;
}
.ws-react-e-catalog-item-header .catalog-item-header-pf-subtitle {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--body--sm);
  margin-block-end: 0;
}
