.ws-react-e-catalog-tile .catalog-tile-pf:active, .ws-react-e-catalog-tile .catalog-tile-pf:hover, .ws-react-e-catalog-tile .catalog-tile-pf:focus, .ws-react-e-catalog-tile .catalog-tile-pf:visited {
  color: var(--pf-t--global--text--color--regular);
  text-decoration: none;
}
.ws-react-e-catalog-tile .catalog-tile-pf-header .catalog-tile-pf-subtitle {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--body--sm);
  font-family: var(--pf-t--global--font--family--body);
  font-weight: var(--pf-t--global--font--weight--body);
  padding-block-start: var(--pf-t--global--spacer--xs);
}
.ws-react-e-catalog-tile .catalog-tile-pf-header .catalog-tile-pf-subtitle a {
  color: var(--pf-t--global--text--color--link--default);
  text-decoration: none;
}
.ws-react-e-catalog-tile .catalog-tile-pf-header .catalog-tile-pf-subtitle a:hover {
  color: var(--pf-t--global--text--color--link--hover);
  text-decoration: underline;
}
.ws-react-e-catalog-tile .catalog-tile-pf-icon {
  font-size: 37px;
  height: 37px;
  max-width: 60px;
  min-width: 37px;
}
.ws-react-e-catalog-tile .catalog-tile-pf-badge-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-inline-start: var(--pf-t--global--spacer--sm);
}
.ws-react-e-catalog-tile .catalog-tile-pf-badge-container .catalog-tile-pf-badge {
  font-size: var(--pf-t--global--font--size--body--default);
  margin-inline-start: var(--pf-t--global--spacer--xs);
}
.ws-react-e-catalog-tile .catalog-tile-pf-body .catalog-tile-pf-description span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.ws-react-e-catalog-tile .catalog-tile-pf-body .catalog-tile-pf-description span.has-footer {
  -webkit-line-clamp: 1;
}
.ws-react-e-catalog-tile .example-ok-icon {
  color: var(--pf-t--global--icon--color--status--success--default);
}
