.filter-panel-pf {
  margin-block-start: 0;
  margin-block-end: var(--pf-t--global--spacer--xl);
  margin-inline: 0;
  padding-inline: var(--pf-t--global--spacer--md);
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--lg);
}

.filter-panel-pf-category-title {
  border: 0;
  font-size: var(--pf-t--global--font--size--body--sm);
  margin-block-start: 0;
  margin-block-end: var(--pf-t--global--spacer--sm);
  margin-inline: 0;
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.filter-panel-pf-category-items {
  margin-block: 0;
}

.filter-panel-pf-category-items .pf-v6-c-button.pf-m-link {
  padding: 0;
}

.filter-panel-pf-category-items > * + * {
  margin-block-start: var(--pf-t--global--spacer--sm);
}

.filter-panel-pf-category-item {
  font-weight: var(--pf-t--global--font--weight--body);
}

.filter-panel-pf-category-item:first-of-type {
  margin-block-start: 0;
}

.filter-panel-pf-category-item .item-icon {
  padding-inline-end: var(--pf-t--global--spacer--xs);
}

.filter-panel-pf-category-item .item-count {
  padding-inline-start: var(--pf-t--global--spacer--xs);
}
