.properties-side-panel-pf {
  width: 165px;
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--lg);
}

.properties-side-panel-pf-property-label {
  font-weight: var(--pf-t--global--font--weight--body--bold) !important;
  font-size: var(--pf-t--global--font--size--body--sm) !important;
  margin: 0 !important;
}

.properties-side-panel-pf-property-value {
  font-size: var(--pf-t--global--font--size--body--regular) !important;
  margin-top: var(--pf-t--global--spacer--sm);
  word-break: break-word;
}
