.ws-react-e-vertical-tabs .vertical-tabs-pf {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 30px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--xs);
}
.ws-react-e-vertical-tabs .vertical-tabs-pf .vertical-tabs-pf {
  margin-block-end: 0;
  padding-block-start: var(--pf-t--global--spacer--xs);
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab {
  position: relative;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab > a {
  color: var(--pf-t--global--text--color--regular);
  text-decoration: none;
  display: inline-block;
  font-size: var(--pf-t--global--font--size--body--default);
  padding-block: var(--pf-t--global--spacer--xs);
  padding-inline: var(--pf-t--global--spacer--sm);
  vertical-align: top;
  width: 100%;
  word-break: break-word;
  background-color: var(--pf-t--global--background--color--action--plain--default);
  border-radius: var(--pf-t--global--border--radius--small);
  margin-inline-start: var(--pf-t--global--spacer--md);
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab > a:hover, .ws-react-e-vertical-tabs .vertical-tabs-pf-tab > a:focus {
  background-color: var(--pf-t--global--background--color--action--plain--hover);
  text-decoration: none;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab > a.no-wrap {
  overflow-x: hidden;
  white-space: nowrap;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab > a.truncate {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab > a.disabled {
  color: var(--pf-t--global--text--color--on-disabled);
  background: var(--pf-t--global--background--color--disabled--default);
  pointer-events: none;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab.active::before {
  background: var(--pf-t--global--border--color--clicked);
  content: " ";
  inset-inline-start: 0;
  inset-block-start: var(--pf-t--global--spacer--xs);
  position: absolute;
  width: var(--pf-t--global--border--width--extra-strong);
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab:first-of-type {
  margin-block-start: 0;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf-tab > .vertical-tabs-pf > .vertical-tabs-pf-tab {
  margin-inline-start: var(--pf-t--global--spacer--md);
}
.ws-react-e-vertical-tabs .vertical-tabs-pf.restrict-tabs .vertical-tabs-pf-tab {
  display: none;
  /* Show any active tab, tab that has an active descendant, or is force shown */
}
.ws-react-e-vertical-tabs .vertical-tabs-pf.restrict-tabs .vertical-tabs-pf-tab.active, .ws-react-e-vertical-tabs .vertical-tabs-pf.restrict-tabs .vertical-tabs-pf-tab.active-descendant, .ws-react-e-vertical-tabs .vertical-tabs-pf.restrict-tabs .vertical-tabs-pf-tab.shown {
  display: block;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf.restrict-tabs.active-tab > .vertical-tabs-pf-tab {
  display: block;
}
.ws-react-e-vertical-tabs .vertical-tabs-pf.restrict-tabs .vertical-tabs-pf-tab.active > .vertical-tabs-pf > .vertical-tabs-pf-tab {
  display: block;
}
